/*----------BORDER BOX----------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*----------ELEMENTS----------*/

h1 {
	text-align: center;
}

h2 {
	float: left;
}

/*----------CLASSES-----------*/

.clear {
	clear: right;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	cursor: url(/img/hammer_up.png), auto;
}

.holder {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 5px;
	background-image: url("../img/mahogany.jpeg");
	box-shadow: inset -8px 8px 20px rgba(255, 255, 255, 0.7);
}

.hole {
	width: 125px;
	height: 125px;
	border: 1px solid black;
	border-radius: 100px;
	background-color: black;
	margin-left: 11px;
	margin-top: 12px;
	box-shadow: 1px 1px 8px rgba(0,0,0,1);
}

.img-responsive {
    width: 100%;
    height: auto;
}

.mole {
	height: 113px;
	border-radius: 150px;
	margin-left: 5px;
	margin-top: 8px;
	display: none;
}

.score{
	margin-left: 30px;
	margin-right: 30px;
}

.start {
	width: 100px;
	height: 50px;
	font-size: 30px;
	font-weight: bold;
	margin-top: 5px;
}

.timer {
	margin-left: 186px;
	margin-right: -255px;
}

div:active {
cursor: url(/img/hammer_down.png),auto;
}
}